<?xml version="1.0"?>
<configuration>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
    <system.web>
        <compilation targetFramework="4.8" debug="true"/>
        <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <system.webServer>
		<!--<httpErrors>
			<error statusCode="404" responseMode="ResponseRewrite">
				<location path="~/index.html">
					<system.webServer>
						<httpErrors>
							<error statusCode="404" responseMode="Replace" />
						</httpErrors>
					</system.webServer>
				</location>
			</error>
		</httpErrors>-->

		<httpErrors errorMode="Custom">
		    <remove statusCode="404" />
		    <error statusCode="404" responseMode="ExecuteURL" path="/index.html" />
	    </httpErrors>
    </system.webServer>
</configuration>